name: Release to Maven Central

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          cache: 'maven'
          distribution: 'adopt'


      - name: Configure Maven settings
        run: |
          mkdir -p $HOME/.m2
          echo "<settings><servers><server><id>ossrh</id><username>${{ secrets.SONATYPE_USERNAME }}</username><password>${{ secrets.SONATYPE_PASSWORD }}</password></server></servers></settings>" > $HOME/.m2/settings.xml

      - name: Basic plugin version verification
        run: java -ea scripts/CheckPomVersions.java

      - name: Build and Test
        run: mvn --batch-mode --update-snapshots clean test spotless:check ossindex:audit

      - name: Deploy to Maven Central
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        if: success()
        run: MAVEN_GPG_PASSPHRASE=$MAVEN_GPG_PASSPHRASE MAVEN_GPG_KEY=${MAVEN_GPG_KEY} mvn deploy -DskipTests

      - name: Create GitHub Release
        if: success()
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
